@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    font-family: 'League Spartan', sans-serif;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.cabecalho-imagem {
    height: 60px;
}

.cabecalho-menu {
    display: flex;
    gap: 50px;
}

.cabecalho-menu-item {
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    cursor: pointer;
    transition-duration: 0.4;
    color: black;
}

.cabecalho-menu-item:hover {
    opacity: 0.7;
}

.corpo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 50px;
    gap: 80px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 40vw;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name {
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
}

.role {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}

.description {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;

}

.experiences {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title {
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
}
.last-exp h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.project-content {
    padding-left: 20px;
}

.rigth {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.rigth-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.formation {
    display: flex;
    flex-direction: column;
    gap: 30px;
}